body {
  font-family: Inter, sans-serif;
  color: #67768e;
  line-height: 1.85714285714286;
  font-size: 18px;
}

a {
  color: #060097;
  text-decoration: none;
}

a:hover, a:focus {
  color: #c10fff;
  transition: 0.3s;
}

header {
  background: #060097;
  border-bottom: 1px solid #060097;
}

.navbar {
  font-weight: 500;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px;
  }
}

.search-container {
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .search-container {
    margin: 0.5rem 0;
  }
}

.search-input {
  border: none;
  padding: 0px 10px;
  flex: 1;
  color: #cacaca;
  background: transparent;
}

.search-input:focus-visible {
  outline: none;
}

.search-input::placeholder {
  color: white;
}

.search-button {
  border: none;
  color: white;
  padding: 0px 10px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  color: initial;
}

.banner {
  background: linear-gradient(35deg,rgb(6,0,151) 0%,rgb(130,4,255) 73%,rgb(193,15,255) 100%);
  padding: 100px 0;
  color: white;
}

.banner h1 {
  font-size: 1.5555555555556rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.btn-wp {
  background: #ffcd57;
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 50px;
}

.group {
  padding-top: 100px;
}

.group .heading {
  color: #1e293b;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 991px) {
  .group .gr-item {
    margin-bottom: 40px;
  }
}

hr {
  border-top: 2px solid;
  opacity: 1;
}

.service {
  padding: 100px 0;
}

h2, .entry-content h2, h3, .entry-content h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3em;
}

h1, .entry-content h1, h2, .entry-content h2, h3, .entry-content h3, h4, .entry-content h4, h5, .entry-content h5, h6, .entry-content h6 {
  color: #1e293b;
  font-weight: 600;
}

.service-item .img-service {
  width: 100%;
}

.service-item h3 {
  margin-top: 15px;
  font-size: 24px;
}

@media (max-width: 767px) {
  .service-item {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .about .row {
    flex-direction: column-reverse !important;
  }
}

@media (max-width: 767px) {
  .about .media {
    margin-bottom: 40px;
  }
}

.review {
  background: #f9f6fe;
  padding: 100px 0;
}

.why {
  padding: 100px 0;
}

@media (max-width: 767px) {
  .why-item {
    margin-bottom: 40px;
  }
}

.contact-form {
  padding: 100px 0;
  background: linear-gradient(35deg,rgb(6,0,151) 0%,rgb(130,4,255) 64%,rgb(193,15,255) 98%);
  color: white;
}

.contact-form .heading {
  color: white;
  font-size: 24px;
}

.contact-form div {
  max-width: 520px;
}

.btn-wp {
  color: #1e293b;
}

footer {
  background: #eee;
  padding: 20px 0;
}

footer hr {
  border-top: 1px solid #67768e;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

@media (max-width: 991px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.astra-footer-menu {
  margin: 0;
  list-style: none;
  background: inherit;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.footer-nav-wrap a {
  padding: 0 1em;
  text-decoration: none;
}

@media (max-width: 991px) {
  .footer-nav-wrap a {
    padding: 0 0.5em;
    text-decoration: none;
  }
}

@media (max-width: 991px) {
  .site-ft {
    align-items: center;
    justify-content: center !important;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .astra-footer-menu {
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .astra-footer-menu.m2 {
    justify-content: end;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: #060097;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 0;
}

.scroll-to-top:hover {
  background-color: #060097;
  color: white;
}

/* games */

.entry-banner {
  padding: 50px 0;
  text-align: center;
  background: #eee;
}

.game-item {
  margin-bottom: 20px;
}

.game-item .image {
  width: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 1rem;
}

.game-title {
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #060097;
}

.game-item:hover .game-title {
  color: #c10fff;
  transition: 0.5s;
}

hr.mw-100 {
  max-width: 100px !important;
  text-align: center;
  margin: 0 auto;
}

.btn-play {
  border-style: solid;
  border-color: #ffcd57;
  background-color: #ffcd57;
  color: #1e293b;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 40px;
}

.btn-play:hover {
  color: #1e293b;
}

.cl-pup {
  color: #060097;
}

.desc {
  margin-bottom: 100px;
}

.desc h2 {
  margin-bottom: 20px;
}

.desc p {
  margin-bottom: 1.6rem;
}

.desc a {
  text-decoration: underline;
}

.list-categories figure {
  width: 100%;
}

.list-categories figure img {
  width: 100%;
}

.list-categories .figure-caption {
  margin-top: 10px;
  margin-bottom: 15px;
}

.list-categories figure img {
  width: 100%;
}

.caption-cate {
  font-size: 20px;
}

/* slide */

.slider-games {
  margin-bottom: 100px;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0 -5px;
}

.slide {
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 5px;
  flex-shrink: 0;
  position: relative;
}

@media (min-width: 992px) {
  .slide {
    max-width: 50%;
    min-width: 50%;
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  /*width: 36px;*/
  /*height: 40px;*/
  transform: translateY(-50%);
  background-color: transparent;
  color: #4527a4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  padding: 0;
}

.prev svg, .next svg {
  width: 50px;
  height: 50px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slide .game-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background: #f4f2fc;
}

.slide .thumb {
  position: relative;
  padding-right: 45%;
  display: block;
  overflow: hidden;
  min-height: 350px;
  width: 45%;
  height: 100%;
}

.thumb img {
  width: 100%;
  min-height: 350px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overlay-content {
  padding: 20px;
  width: 50%;
  background: #f4f2fc;
}

.overlay-content .author {
  margin-right: 10px;
}

.overlay-content .heading a, .content .heading a {
  margin: 0;
  font-size: 25px;
  color: #4527a4;
  font-weight: 400;
  margin-bottom: 5px;
}

.content .heading a {
  font-size: 14px;
  letter-spacing: -.02em;
}

.overlay-content .meta {
  font-size: 13px;
  line-height: 16px;
}

.overlay-content .meta svg {
  color: #8344c5;
  margin-right: 5px;
}

.overlay-content .cate {
  text-transform: uppercase;
}

.overlay-content a {
  color: #8344c5;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}

/* detail */

.game-player {
  background-color: #67768e;
  border-radius: 0;
  overflow: hidden;
  position: relative;
}

.game-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.game-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.game-iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 0;
}

/* gg */

.game-info {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-right {
  margin-left: auto;
  text-align: right;
}

.btn-capsule {
  padding: 10px;
}

.b-icon {
  width: 30px;
  height: 30px;
  color: rgba(0,0,0,0.5);
}

.widget h2 {
  font-size: 1.7rem;
}

.hand-pick {
  padding-top: 1.5em;
}

.widget.hand-pick a {
  margin-right: 5px;
  display: inline-block;
}

.f-1 {
  font-size: 12px;
}

.f-2 {
  font-size: 13pt;
}

.f-3 {
  font-size: 16pt;
}

.f-4 {
  font-size: 20pt;
}

@media (max-width: 1199px) {
  .od-1 {
    order: 1;
  }
}

@media (max-width: 1199px) {
  .od-2 {
    order: 2;
  }
}

@media (max-width: 1199px) {
  .od-3 {
    order: 3;
  }
}

.content-wrapper {
  margin-top: 40px;
}

.content-wrapper h3 {
  color: #67768e;
  font-size: 18px;
}

table, td, th {
  border: 1px solid;
  color: #67768e !important;
}

.rating {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating input {
  display: none;
}

.star {
  font-size: 40px;
  color: #ffe699;
  cursor: pointer;
  transition: color 0.2s;
  margin: 0;
  display: flex;
}

.star:hover, .star:hover ~ .star {
  color: #ffcc36;
}

.rating-text {
  font-size: 1em;
  margin-bottom: 10px;
  color: #67768e;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}

/* about */

.banner-about {
  padding: 100px 0;
  background: url("../../assets/img/Unblocked-Games-999-2-300x169.png");
  background-size: cover;
  background-position: 50%;
  background-color: #000000;
  color: white;
  position: relative;
}

.banner-about::before {
  content: '';
  background: #00093a;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.7;
  z-index: 1;
}

.text-banner {
  position: relative;
  z-index: 2;
}

.banner-about .heading {
  font-size: 80px;
  color: white;
  text-transform: uppercase;
}

